.container{
    margin-top: 2em;
    margin-bottom: 1.5em;
}
@media(max-width: 500x){
    body{
        flex-wrap: wrap;
    }
    .imgrow{

    }
}
.img{
    background-image:url(./imgs/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}
.left{
    display: flex;
    /* color: white; */
    font-style: italic;
    justify-content: space-between;
    padding: .5em;
}
.right{
    display: flex;
    flex-direction: row;
    /* color: white; */
    /* padding: 0.5em; */
    justify-content: space-around;
}
.search{
    display: flex;
    
}
.topic{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    flex-wrap: wrap;
    /* padding-bottom: 1em; */

}
.topic>p{
    font-size: 30px;
     font-weight: 500;
     display: flex;
     text-align: center;
    color: white;
    margin-left: 22%;
    margin-right: 22%;
}
.informative{
    display: flex;
    text-align: center;
    /* color: white; */
    margin-left: 25%;
    margin-right: 25%;
}
.demo button{   
    text-decoration: none;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 400;
    width: 250px;
}
.blueSection{
    /* height: 200px; */
    padding: 1rem;
    width: 100%;
    background: rgb(8, 8, 31);
}
.attributes{
    display: flex;
    justify-content: center;
    gap: 3rem;

}
.items{
    text-decoration: none;
}
/* white part */
.whitepart{
    background: #f1f1f1;
    /* width: 100%; */
    /* height: 400px; */
    padding-top: -1000px;
}
.marketersinfo{
    padding-top: 3rem;
}
.link{
    display: flex;
    justify-content: center;
    /* text-decoration: none; */
    /* color: whitesmoke; */
}
.items1{
    text-decoration: none;
    color: rgb(34, 5, 34);
}
.footerinfo{
    /* display: flex; */
    text-align: center;
}
.img2{
    background-image:url(./imgs/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
}
.imgfooter{
    height: 300px;
    width: 900px;
    margin-left: 5%;
    margin-right: -29%;
    
}
.imgrow{
    padding-top: 1rem; 
    display: flex;
    justify-content: center;
     gap: 3rem;
}
.imgrow1{
    padding-top: 4rem;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}